
#collapse-table {
    display: none;
}

.boder-content {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.has-error {
    border-color: #dc3545
}

#search_name_error {
    color: #dc3545 !important;
}

#wishlist-form, .no-padding-row {
    padding-right: 0;
    padding-left: 0;
}

.error-label {
    margin-left: 0;
    margin-right: 0;
}

.check-container {
    min-width: 17px !important;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#search_substring {
    min-width: 100% !important;
    min-height: 17px !important;
}
