
#collapse-table {
    display: none;
}

.has-error {
    border-color: #dc3545
}

#search_name_error {
    color: #dc3545!important;
}

#wishlist-form {
    padding-right: 0;
    padding-left: 0;
}

.error-label {
    margin-left: 0;
    margin-right: 0;
}

.check-container {
    min-width: 17px !important;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#search_substring {
    min-width: 100% !important;
    min-height: 17px !important;
}


/*.custom-control.custom-checkbox {*/
/*padding-left: 0;*/
/*}*/

/*label.custom-control-label {*/
/*position: relative;*/
/*padding-right: 1.5rem;*/
/*}*/

/*label.custom-control-label::before, label.custom-control-label::after {*/
/*right: 0;*/
/*left: auto;*/
/*}*/