
footer {
    padding: 30px 0;
}

#sidebar-fixed {
    position: fixed;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sidebar {
    padding-top: 60%;
    width: 100%;
    min-height: 100%;
}

@media screen and (min-width: 1024px) {
    .row-offcanvas-left {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media screen and (max-width: 1024px) {

    #sidebar {
        background-color: grey;
    }

    .row-offcanvas-left {
        position: absolute;
        z-index: 1;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;

    }

    .row-offcanvas-left.active {
        min-width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        transition: all 0.5s linear;
    }

    #sidebar-fixed {
        transition: all 0.5s;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .row-offcanvas-left #sidebar-fixed {

        transform: translate3d(-100%, 0, 0);
    }

    .row-offcanvas-left.active #sidebar-fixed {

        transform: translate3d(0, 0, 0);
    }


    .row-offcanvas-left.active .sidebar-offcanvas {
        width: 60%;
        display: block;
        top: 0;
        z-index: 1;
        background-color: #343a40 !important;
    }


}