.has-error {
    border-color: #dc3545
}

.err-msg {
    margin-top: -15px;
    color: #dc3545 !important;
}

#basic-search-change-container, #advance-search-change-container{
    cursor: pointer;
    margin-right: 3px;
    margin-bottom: 3px;
}
.edit-search-users-button{
     cursor: pointer;
}
