.has-error {
    border-color: #dc3545
}

.err-msg {
    margin-top: -15px;
    color: #dc3545 !important;
}
.label-padding{
    margin-bottom: .2rem!important;
}
#basic_search_substring, #search_substring{
    height: 15px!important;
    width: 15px!important;
}
.no-padding-row {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#basic-search-change-container, #advance-search-change-container {
    cursor: pointer;
    margin-right: 3px;
    margin-bottom: 3px;
}

.edit-search-users-button {
    cursor: pointer;
}
