
.red {
    color: red;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
}
#empty-wishlist{
    margin-top: -1rem;
}
#paginationBox{
    margin-top: -1rem;
}
.last-td-next-book{
    /*border: 0 !important;*/
    /*padding-right: 0 !important;*/
    /*padding-left: 0 !important;*/
    /*max-width: 70px !important;*/
    /*!*min-width: 65px !important;*!*/
    /*margin-left: 0 !important;*/
    /*margin-right: 0 !important;*/
    /*width: 10%!important;*/
}