
.has-error {
    border-color: #dc3545
}

.err-msg {
    margin-top: -15px;
    color: #dc3545 !important;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;
}
#empty-wishlist{
    margin-top: -1rem;
}
#paginationBox{
    margin-top: -1rem;
}