{% extends "layout.html" %}
{% block page_title %}About Page{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/about.css') }}">
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex justify-content-center align-items-center" id="about-container-content">

        <div class="row m-4 p-4 card" id="content-about">
            <h>Library Management,<br></h>
            <h class="ml-5-rem"> Efficient for books renting</h>
            <h id="sub-content" class="ml-5-rem">Search the book, reserve it or add it to wishist</h>
        </div>
    </div>


{% endblock %}
