{% extends "layout.html" %}

{% block page_title %}Account Page {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/account.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/table.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/account.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/account_statistics.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row py-2">
            <div class="col-md-4 py-1">
                <div class="card d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center p-2">
                        Book type preferred
                    </div>
                    <div class="card-body no-padding">
                        <canvas id="chart-type-book"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center p-2">
                        Book return period
                    </div>
                    <div class="card-body no-padding">
                        <canvas id="chart-user-trust-coeff"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-1">
                <div class="card d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center p-2">
                        Title
                    </div>
                    <div class="card-body no-padding">
                        <canvas id="chDonut3"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card">
                    <div class="d-flex justify-content-center align-items-center p-2">
                        Title
                    </div>
                    <div id="chartWrapper">
                        <canvas id="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container-fluid border-content mt-5">
            <div class="row m-2">
                <div class="col-sm-3 btn border-content search btn btn-secondary" id="basic-search-change-container">
                    Basic Search
                </div>
                <div class="col-sm-3 btn border-content search btn btn-secondary" id="advance-search-change-container">
                    Advance Search
                </div>
            </div>
            <div class="container-fluid  border-content  m-2 mb-3" id="basic-search-container">
                <form id="basic-search-form" class="row" method="post" novalidate>
                    {{ basic_search_form.hidden_tag() }}
                    {{ basic_search_form.basic_page_number }}
                    <div class="col-md-5 mt-2 ml-4">
                        <div class="form-group form-inline row">
                            {{ basic_search_form.basic_search_name(placeholder="Book name") }}
                            <i class="fas fa-search" id="basic-search-button" aria-hidden="true"></i>
                        </div>
                        <small class="form-group row err-msg" id="basic_search_name_error"></small>
                    </div>
                    <div class="col-md-5 mt-2 ml-4">
                        <div class="form-group row">
                            {{ basic_search_form.basic_search_substring.label }}
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                {{ basic_search_form.basic_search_substring }}
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="container-fluid  border-content  m-2 mb-3 hide" id="advanced-search-container">

                <a id="jump-here"></a>

                <form id="advanced-search-form" class="row" method="post" novalidate>
                    {{ advanced_search_form.hidden_tag() }}
                    <div class="col-md mt-2">
                        {{ advanced_search_form.page_number }}
                        <div class="form-group row">
                            {{ advanced_search_form.search_name.label }}
                            <div class="col-7">
                                {{ advanced_search_form.search_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ advanced_search_form.search_author.label }}
                            <div class="col-7">
                                {{ advanced_search_form.search_author }}
                            </div>
                        </div>

                        <div class="form-group row">
                            {{ advanced_search_form.search_type.label }}
                            <div class="col-7">
                                {{ advanced_search_form.search_type }}
                            </div>
                        </div>
                        <small class="" id="search_name_error"></small>
                    </div>
                    <div class="col-md mt-2">
                        <div class="form-group row">
                            {{ advanced_search_form.search_substring.label }}
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                {{ advanced_search_form.search_substring }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ advanced_search_form.exclude_wishlist.label }}
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                {{ advanced_search_form.exclude_wishlist }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ advanced_search_form.exclude_current_book.label }}
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                {{ advanced_search_form.exclude_current_book }}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{ advanced_search_form.only_available.label }}
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                {{ advanced_search_form.only_available }}
                            </div>
                        </div>
                    </div>
                </form>

                <div class="form-group row">
                    <div class="col-2">
                        <button class="btn btn-secondary" type="Submit" id="advanced-search-button">
                            Search
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div id="collapse-table" class="container-fluid">

                <table class="table table-bordered" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Book name</th>
                        <th>Book type</th>
                        <th class="d-none d-md-block">Author name</th>
                        <th class="d-none d-lg-block">Status</th>

                    </tr>
                    </thead>
                    <tbody id="content-table">
                    </tbody>
                </table>

                <div>
                    <ul class="pagination" id="paginationBox">
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <div class="btn btn-default"><a href="#jump-here"><i class="fa fa-chevron-up"></i></a>
    </div>

{% endblock %}

{% block modal_results %}
    {{ super() }}
    <div class="container">
        <div class="modal fade" id="myModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container-fluid">

                            <div class="row mb-2">
                                <div class="col">Number</div>
                                <div class="col" id="no"></div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">Book name</div>
                                <div class="col" id="book-name"></div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">Book type</div>
                                <div class="col" id="book-type"></div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">Author name</div>
                                <div class="col" id="author-name"></div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">Status</div>
                                <div class="col" id="status"></div>
                            </div>

                            <div class="hidden-content" id="book-id"></div>

                            <form id="wishlist-form" class="container-fluid wishlist-modal" method="post" novalidate>
                                {{ wishlist_form.hidden_tag() }}
                                <div class="hidden-content">{{ wishlist_form.book_id }} </div>

                                <div class="row mb-2">
                                    <div class="col mb-2">
                                        <div class="row  error-label">
                                            {{ wishlist_form.days_number.label }}
                                        </div>
                                        <small class="row  error-label text-muted" id="days_number_error"></small>
                                    </div>

                                    <div class="col mb-2">
                                        <div class="row  error-label">
                                            {{ wishlist_form.days_number }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2">
                                    <div class="col mb-2">
                                        <div class="row d-flex flex-column error-label ">
                                            <div class="" id="rank-range">
                                                {{ wishlist_form.rank.label }}
                                            </div>
                                            <small class="text-muted" id="rank_error"></small>
                                        </div>

                                    </div>

                                    <div class="col mb-2">
                                        <div class="row  error-label">
                                            {{ wishlist_form.rank }}
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        <div class="container-fluid reserved-modal">
                            <form id="reserved-date-form" class="container-fluid" method="post" novalidate>
                                {{ reserved_book_date.hidden_tag() }}
                                <div class="hidden-content">{{ reserved_book_date.book_id_reserved }} </div>
                                <div class="form-group">
                                    {{ reserved_book_date.startdate.label }}
                                    {{ reserved_book_date.startdate }}
                                </div>
                                <div class="form-group">
                                    {{ reserved_book_date.enddate.label }}
                                    {{ reserved_book_date.enddate }}
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="Submit" id="add-to-wishlist-button" class="btn btn-secondary"><i class="">Save</i>
                        </button>
                        <button type="Submit" id="add-to-reserved-button" class="btn btn-secondary"><i class="">Save</i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

