{% extends "layout.html" %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block page_title %}Account Page {% endblock %}
{% block body %}
    {{ super() }}

    <div class="col-lg-6">
        <h3>Add Book to wishlist</h3>

        <form class="content-section row" action="/add_book_to_wishlist" method='post'>
            <div class="form-group col-lg-8">
                <label for="name">Book`s name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group col-lg-8">
                <label for="period">Period</label>
                <input type="number" class="form-control" name="period">
            </div>
            <div class="form-group col-lg-8">
                <label for="rank">Rank</label>
                <input type="number" class="form-control" name="rank">
            </div>
            <br><br>
            <button type="submit" class="btn" >Submit</button>
        </form>
    </div>

    <div class="col-lg-9">
        <h3>Wishlist</h3>

        <table class="table small">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Period</th>
                <th>Action</th>
            </tr>
            </thead>

            {% for _wishlist in wishlist %}
                {% for entry in _wishlist %}
                    <tr>
                        <th> {{ entry[0] }} </th>
                        <th> {{ entry[1] }} </th>
                        <th> {{ entry[2] }} </th>
                        <th> {{ entry[3] }} </th>
                        <th><a href="/wishlist_delete_entry/{{ entry[4] }}">Delete</a></th>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>

    <div class="col-lg-9">
        <h3>Accept next book</h3>

        <table class="table small">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Period</th>
                <th>Status</th>
                <th>Accept</th>
                <th>Deny</th>
            </tr>
            </thead>
            {% if nextbook %}
                <tr>
                    <td> {{ nextbook[0] }} </td>
                    <td> {{ nextbook[1] }} </td>
                    <td> {{ nextbook[2] }} </td>
                    <td> {{ nextbook[3] }} </td>
                    <td><a href="/accept_book/{{ nextbook[4] }}">Y</a></td>
                    <td><a href="/deny_book/{{ nextbook[4] }}">Y</a></td>
                </tr>
            {% endif %}
        </table>
    </div>

{% endblock %}