{% extends "admin_layout.html" %}

{% block page_title %}Admin dashboard {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/books.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/books.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">

        <div class="container-fluid p-3 border-content mt-5 mb-3" id="new-book-container">
            <h3 class="mt-5 mb-4 p-3">Add new book</h3>
            <div class="container-fluid p-3 border-content">
                <form id="new-book-form" class="mt-2" novalidate>
                    {{ new_book.hidden_tag() }}
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                {{ new_book.name.label }}
                                {{ new_book.name(class_='form-control') }}
                            </div>
                            <small class="form-group row err-msg no-margin-row" id="name_new_book_error"></small>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                {{ new_book.series.label }}
                                {{ new_book.series(class_='form-control') }}
                            </div>
                            <small class="form-group row err-msg no-margin-row" id="series_new_book_error"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5" id="type_select">
                            <div class="form-group">
                                {{ new_book.type.label }}
                                {{ new_book.type(class_='form-control') }}
                            </div>
                            <small class="form-group row err-msg no-margin-row" id="type_new_book_error"></small>
                        </div>
                        <div class="col-md-5 display-none" id="type_string">
                            <div class="form-group">
                                {{ new_book.type_string_field.label }}
                                {{ new_book.type_string_field(class_='form-control') }}
                            </div>
                            <small class="form-group row err-msg no-margin-row"
                                   id="type_string_field_new_book_error"></small>
                        </div>
                        <div class="col-md-5 row">
                            {% for choice in new_book.type_exists %}
                                {% if choice.label.text in new_book.type_exists.choices[0][1] %}
                                    <div class="col-md-8 mt-md-4 pt-md-3 pr-0">
                                        {{ choice }} {{ choice.label }}
                                    </div>
                                {% else %}
                                    <div class="mt-md-4 pt-md-3 pr-0 pl-0">
                                        {{ choice }} {{ choice.label }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                {{ new_book.author_first_name.label }}
                                {{ new_book.author_first_name(class_='form-control') }}
                            </div>
                            <small class="form-group row err-msg no-margin-row"
                                   id="author_first_name_new_book_error"></small>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                {{ new_book.author_last_name.label }}
                                {{ new_book.author_last_name(class_='form-control') }}
                            </div>
                            <small class="form-group row err-msg no-margin-row"
                                   id="author_last_name_new_book_error"></small>
                        </div>

                        <div class="col-md-5 d-flex align-items-start justify-content-center flex-column">
                            {% for choice in new_book.type_author %}
                                {% if choice.label.text in new_book.type_author.choices[0][1] %}
                                    <div class="mt-md-4 pt-md-3">
                                        {{ choice }} {{ choice.label }}
                                    </div>
                                {% else %}
                                    <div class="pt-2">
                                        {{ choice }} {{ choice.label }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>
                <div class="container-fluid border-content mb-3 mt-3 p-3" id="choose-author-container">
                    <form id="choose-author-form" class="row" method="post" novalidate>
                        {{ choose_author.hidden_tag() }}
                        {{ choose_author.page_nr(class_="hidden-content") }}
                        <div class="col-md-6 mt-2 ml-4">
                            <div class="form-group form-inline row no-margin-row">
                                {{ choose_author.author_name(placeholder="Author first name or last name",class_="form-control w-75") }}
                                <i class="fas fa-search ml-2" id="search-author-button" aria-hidden="true"></i>
                            </div>
                            <small class="form-group row err-msg" id="name_choose_author_error"></small>
                        </div>
                        <div class="col-md-5 mt-2">
                            <div class="form-group row ml-4">
                                {{ choose_author.search_substring.label }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ choose_author.search_substring }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row" id="author-result-container">
                    <div id="collapse-table" class="container-fluid">
                        <table class="table table-bordered" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>No.</th>
                                <th>First name</th>
                                <th>Last name</th>
                                {#                            <th class="d-none d-md-block">Author name</th>#}
                                {#                            <th class="d-none d-lg-block">Status</th>#}
                            </tr>
                            </thead>
                            <tbody id="content-table">
                            </tbody>
                        </table>
                        <div class="border-content d-flex justify-content-center p-2" id="empty-results">No results
                            found !
                        </div>

                        <div>
                            <ul class="pagination d-flex justify-content-end" id="paginationBox">
                            </ul>
                        </div>
                    </div>
                </div>
                <button type="submit" id="add-new-book-button" class="btn btn-info btn-fill pull-right mt-4">
                    Save
                </button>
            </div>
        </div>


        <div class="container-fluid p-3 border-content mt-5 mb-3" id="current-books-container">
            <div class="container-fluid border-content mt-5">
                <div class="row m-2">
                    <div class="col-sm-3 btn border-content search btn btn-secondary"
                         id="basic-search-change-container">
                        Basic Search
                    </div>
                    <div class="col-sm-3 btn border-content search btn btn-secondary"
                         id="advance-search-change-container">
                        Advanced Search
                    </div>
                </div>
                <div class="container-fluid  border-content  m-2 mb-3" id="basic-search-container">
                    <form id="basic-search-form" class="row" method="post" novalidate>
                        {{ basic_search_form.hidden_tag() }}
                        {{ basic_search_form.basic_page_number(class_="d-none") }}
                        <div class="col-md-5 mt-2 ml-4">
                            <div class="form-group form-inline row">
                                {{ basic_search_form.basic_search_name(placeholder="Book name",class_="form-control mr-3 w-75") }}
                                <i class="fas fa-search" id="basic-search-button" aria-hidden="true"></i>
                            </div>
                            <small class="form-group row err-msg" id="basic_search_name_error"></small>
                        </div>
                        <div class="col-md-5 mt-2 ml-4">
                            <div class="form-group row">
                                {{ basic_search_form.basic_search_substring.label }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ basic_search_form.basic_search_substring }}
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="container-fluid border-content m-2 mb-3 d-none" id="advanced-search-container">

                    <form id="advanced-search-form" class="row" method="post" novalidate>
                        {{ advanced_search_form.hidden_tag() }}
                        <div class="col-md mt-4">
                            {{ advanced_search_form.page_number(class_="d-none") }}
                            <div class="form-group row">
                                {{ advanced_search_form.search_name.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.search_name(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ advanced_search_form.search_author_first_name.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.search_author_first_name(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ advanced_search_form.search_author_last_name.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.search_author_last_name(class_="form-control") }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {{ advanced_search_form.search_type.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.search_type(class_="form-control") }}
                                </div>
                            </div>
                            <small class="" id="search_name_error"></small>
                        </div>
                        <div class="col-md mt-4">
                            <div class="form-group row">
                                {{ advanced_search_form.search_substring.label(class_="col-8 col-form-label") }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ advanced_search_form.search_substring }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ advanced_search_form.only_unreturned.label(class_="col-8 col-form-label") }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ advanced_search_form.only_unreturned }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ advanced_search_form.only_available.label(class_="col-8 col-form-label") }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ advanced_search_form.only_available }}
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="form-group row">
                        <div class="col-2">
                            <button class="btn btn-secondary" type="Submit" id="advanced-search-button">
                                Search
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div id="collapse-table-search-books" class="container-fluid">

                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>Book name</th>
                            <th>Book type</th>
                            <th>Book series</th>
                            <th class="d-none d-md-block">Author first name</th>
                            <th class="d-none d-md-block">Author last name</th>
                            <th class="d-none d-lg-block">Status</th>

                        </tr>
                        </thead>
                        <tbody id="content-table-search-books">
                        </tbody>
                    </table>
                    <div class="border-content d-flex justify-content-center p-2" id="empty-results-search-books">No
                        results found !
                    </div>

                    <div>
                        <ul class="pagination d-flex justify-content-end" id="paginationBox-search-books">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block modal_edit_book %}
    <div class="">
        <div class="modal fade" id="update-book-modal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="d-flex justify-content-end p-2">
                        <button type="button" id="close-update-book-modal" class="btn btn-secondary"
                                data-dismiss="modal">&times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h4 class="modal-title mb-2">Update the book</h4>
                        <div class="container-fluid border-content">
                            <form id="update-book-form" class="mt-2" novalidate>
                                {{ update_book_form.hidden_tag() }}
                                {{ update_book_form.update_book_series_id(class_="d-none") }}
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_book_form.update_book_name.label }}
                                            {{ update_book_form.update_book_name(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_book_name_update_book_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_book_form.update_book_type.label }}
                                            {{ update_book_form.update_book_type(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_book_type_update_book_error"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_book_form.update_book_series.label }}
                                            {{ update_book_form.update_book_series(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_book_series_update_book_error"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_book_form.update_author_first_name.label }}
                                            {{ update_book_form.update_author_first_name(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_author_first_name_update_book_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_book_form.update_author_last_name.label }}
                                            {{ update_book_form.update_author_last_name(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_author_last_name_update_book_error"></small>
                                    </div>
                                </div>
                            </form>
                            <button type="Submit" id="update-book-button" class="btn btn-secondary mt-2 mb-2"><i
                                    class="">Update</i>
                            </button>
                        </div>

                    </div>

                    <div class="modal-body">
                        <h4 class="modal-title mb-2">Delete the book</h4>
                        <div class="container-fluid border-content">
                            <div class="col mt-2 no-padding-row">
                                Are you sure you want to delete the book?
                            </div>
                            <div class="col mt-3 mb-2 no-padding-row">
                                <button id="delete-book-button" class="btn btn-secondary"><i
                                        class="">Yes</i>
                                </button>
                                <button type="Submit" class="btn btn-secondary" data-dismiss="modal"><i class="">No</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body d-none" id="rent-book-container">
                        <h4 class="modal-title mb-2" id="title-rent"></h4>
                        <div class="container-fluid border-content">
                            <div class="row mt-2">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">User first name:</div>
                                        <div class="form-control" id="user_first_name_rent"></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">User last name:</div>
                                        <div class="form-control" id="user_last_name_rent"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">User library card id: </div>
                                        <div class="form-control" id="user_library_card_id_rent"></div>

                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">User trust coeff:</div>
                                        <div class="form-control" id="user_trust_coeff_rent"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Period start: </div>
                                        <div class="form-control" id="user_period_start_rent"></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Period end:</div>
                                        <div class="form-control" id="user_period_end_rent"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Status: </div>
                                        <div class="form-control" id="user_entry_status_rent"></div>

                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Period difference:</div>
                                        <div class="form-control" id="user_period_diff_rent"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col mt-2 no-padding-row" id="msg-rent"></div>
                            <div class="col mt-3 mb-2 no-padding-row">
                                <button id="rent-book-button" class="btn btn-secondary"><i
                                        class="">Yes</i>
                                </button>
                                <button type="Submit" class="btn btn-secondary" data-dismiss="modal"><i class="">No</i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}