{% extends "layout.html" %}
{% block page_title %}Books log{% endblock %}

{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="30"/>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/books_log.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/table.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/books_log.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/sidebar_modal_settings.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
    <div class="container-fluid p-3 border-content">
        <h3 class="mt-5 mb-4">Books log</h3>
        <div id="collapse-table">
            <div class="container-fluid no-padding">
                <table class="table table-bordered" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Book name</th>
                        <th>Book type</th>
                        <th>Author name</th>
                        <th class="d-none d-md-block">Period start</th>
                        <th class="d-none d-md-block">Period end</th>
                        <th class="d-none d-lg-block">Status</th>
                        <th class="d-none d-lg-block">Period diff</th>
                    </tr>
                    </thead>
                    <tbody id="content-table">

                    {% for entry in logs %}
                        <tr colspan="7">
                            <td class="rank" id="nr-row-content-{{ entry[0] }}">
                                {{ entry[0] }}
                            </td>
                            <td id="book-name-row-content-{{ entry[0] }}">
                                {{ entry[1] }}
                            </td>
                            <td id="book-type-row-content-{{ entry[0] }}">
                                {{ entry[2] }}
                            </td>
                            <td id="author-row-content-{{ entry[0] }}">
                                {{ entry[3] }}
                            </td>
                            <td class="d-none d-md-block" id="period-start-row-content-{{ entry[0] }}">
                                {{ entry[4] }}
                            </td>
                            <td class="d-none d-md-block" id="period-end-row-content-{{ entry[0] }}">
                                {{ entry[5] }}
                            </td>
                            <td class="d-none d-lg-block" id="status-row-content-{{ entry[0] }}">
                                {{ entry[6] }}
                            </td>
                            <td class="d-none d-lg-block" id="period-diff-row-content-{{ entry[0] }}">
                                {{ entry[7] }}
                            </td>
                            <td class="entry-id hidden-content" id="entry-id-row-content-{{ entry[8] }}"></td>
                        </tr>

                        <tr class="sub-table-row p collapse p-3 tr-collapse-{{ entry[0] }}"
                            id="tr-collapse-id-{{ entry[0] }}">
                            <td colspan="6" class="hiddenRow">
                                <div class="accordian-body">

                                    <p class="d-md-none">Period start: <span>{{ entry[4] }}</span>
                                    </p>

                                    <p class="d-md-none">Period end: <span>{{ entry[5] }}</span>
                                    </p>

                                    <p class="d-lg-none">Status: <span>{{ entry[6] }}</span>
                                    </p>
                                    <p class="d-lg-none">Period diff: <span> {{ entry[7] }}</span></p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="border-content d-flex justify-content-center p-2" id="empty-books-log">You`r books history
                    is empty !
                </div>
            </div>

            <div>
                <ul class="pagination d-flex justify-content-end" id="paginationBox">
                    <div class="hidden-content" id="nr_of_pages">{{ nr_of_pages }}</div>
                    <li class="page-item">
                        <button id="prev" class="btn btn-secondary page_num_link page-link">
                            <a href="{{ prev_url }}">&laquo;</a>
                        </button>
                    </li>
                    {% for nr in num_list %}
                        {% if nr %}
                            <li class="page-item">
                                <button id="{{ nr }}"
                                        class="btn btn-secondary page_num_link page-link">{{ nr }}</button>
                            </li>
                        {% else %}
                            <li class="page-item">...</li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item">
                        <button id="next" class="btn btn-secondary page_num_link page-link">
                            <a href="{{ next_url }}">&raquo;</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}

{% block sidebar_settings %}
    <div class="container">
        <div class="modal fade" id="sidebar-modal-settings" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Wishlist settings</h4>
                        <button type="button" class="close" id="close-settings">&times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form id="sidebar-settings-form" class="container-fluid" method="post" novalidate>
                                {{ wishlist_settings.hidden_tag() }}
                                <div class="row mb-4">
                                    {{ wishlist_settings.setting_option.label }}
                                </div>
                                {% for option in wishlist_settings.setting_option %}
                                    <div class="row mb-2">
                                        <div class="col-9">
                                            {{ option.label }}
                                        </div>
                                        <div class="col">
                                            {{ option }}
                                        </div>

                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" id="sidebar-save-settings-button" class="btn btn-secondary"><i
                                class="">Save</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}