{% extends "layout.html" %}
{% block page_title %}Profile{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/profile.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/sidebar_modal_settings.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/profile.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Your Profile</h4>
{#                            <h4 class="title">Edit Profile</h4>#}
                        </div>
                        <div class="content-profile">
                            <form id="profile-form">
                                {{ profile_form.hidden_tag() }}
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.first_name.label }}
                                            {{ profile_form.first_name(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.last_name.label }}
                                            {{ profile_form.last_name(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.library_card_id.label }}
                                            {{ profile_form.library_card_id(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {{ profile_form.email.label }}
                                            {{ profile_form.email(class_='form-control') }}
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ profile_form.address.label }}
                                            {{ profile_form.address(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ profile_form.city.label }}
                                            {{ profile_form.city(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ profile_form.country.label }}
                                            {{ profile_form.country(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            {{ profile_form.zip_code.label }}
                                            {{ profile_form.zip_code(class_='form-control',disabled="true") }}
                                        </div>
                                    </div>
                                </div>

{#                                <button type="submit" id="update-profile-button"#}
{#                                        class="btn btn-info btn-fill pull-right">#}
{#                                    Update Profile#}
{#                                </button>#}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-user">
                        <div class="image d-flex align-items-center justify-content-center">
                            <img id="profile-img" src="{{ url_for('get_profile_img') }}"
                                 alt="..."/>
                        </div>
                        <div class="content-profile">
                            <div class="author">
                                <h4 class="title d-flex justify-content-center">{{ current_user.first_name }} {{ current_user.last_name }}<br/>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mt-5">
                <div class="col-md-8">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Change password</h4>
                        </div>
                        <div class="content-profile">
                            <form id="change-password-form" novalidate>
                                <div class="container-fluid">
                                    {{ change_password.hidden_tag() }}
                                    <div class="row form-group ">
                                        <div class="col-sm-5">
                                            {{ change_password.old_password.label }}
                                            <small class="form-group row err-msg" id="old_password_error"></small>
                                        </div>

                                        <div class="col-sm-6">
                                            {{ change_password.old_password(class_="form-control") }}
                                        </div>

                                    </div>

                                    <div class="row form-group ">
                                        <div class="col-sm-5">
                                            {{ change_password.new_password.label }}
                                            <small class="form-group row err-msg" id="new_password_error"></small>
                                        </div>

                                        <div class="col-sm-6">
                                            {{ change_password.new_password(class_="form-control") }}
                                        </div>
                                    </div>

                                    <div class="row form-group ">
                                        <div class="col-sm-5">
                                            {{ change_password.retype_password.label }}
                                            <small class="form-group row err-msg" id="retype_password_error"></small>
                                        </div>

                                        <div class="col-sm-6">
                                            {{ change_password.retype_password(class_="form-control") }}
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <button type="submit" id="update-password-button" class="btn btn-info btn-fill pull-right">
                                Update Password
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block sidebar_settings %}
    <div class="">
        <div class="modal fade" id="sidebar-modal-settings" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Wishlist settings</h4>
                        <button type="button" class="close" id="close-settings">&times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form id="sidebar-settings-form" class="container-fluid" method="post" novalidate>
                                {{ wishlist_settings.hidden_tag() }}
                                <div class="row mb-4">
                                    {{ wishlist_settings.setting_option.label }}
                                </div>
                                {% for option in wishlist_settings.setting_option %}
                                    <div class="row mb-2">
                                        <div class="col-9">
                                            {{ option.label }}
                                        </div>
                                        <div class="col">
                                            {{ option }}
                                        </div>

                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" id="sidebar-save-settings-button" class="btn btn-secondary"><i
                                class="">Save</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}