{% extends "admin_layout.html" %}

{% block page_title %}Admin dashboard {% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/users.css') }}">
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/users.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="container-fluid mt-4 mb-3 p-3 border-content">
            <h3 class="mt-5 mb-4 p-3">Add new user</h3>
            <form id="new-user" method="POST" action="{{ url_for('add_user') }}"
                  enctype="multipart/form-data" novalidate>
                {{ new_user.hidden_tag() }}
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.first_name.label }}
                            {{ new_user.first_name(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="first_name_new_user_error">{{ new_user.first_name.errors[0] }}</small>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.last_name.label }}
                            {{ new_user.last_name(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="last_name_new_user_error">{{ new_user.last_name.errors[0] }}</small>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.library_card_id.label }}
                            {{ new_user.library_card_id(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="card_id_new_user_error">{{ new_user.library_card_id.errors[0] }}</small>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.email.label }}
                            {{ new_user.email(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="email_new_user_error">{{ new_user.email.errors[0] }}</small>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            {{ new_user.address.label }}
                            {{ new_user.address(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="address_new_user_error">{{ new_user.address.errors[0] }}</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.city.label }}
                            {{ new_user.city(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="city_new_user_error">{{ new_user.city.errors[0] }}</small>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.country.label }}
                            {{ new_user.country(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="country_new_user_error">{{ new_user.country.errors[0] }}</small>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            {{ new_user.zip_code.label }}
                            {{ new_user.zip_code(class_='form-control') }}
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="zip_code_new_user_error">{{ new_user.zip_code.errors[0] }}</small>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="label-text">User image:</div>
                            <div class="custom-file">
                                {{ new_user.file(class_="custom-file-input") }}
                                {{ new_user.file.label(class_="custom-file-label") }}
                            </div>
                        </div>
                        <small class="form-group row err-msg no-margin-row"
                               id="first_name_new_user_error">{{ new_user.file.errors[0] }}</small>
                    </div>
                </div>
                <button type="submit" id="add-new-user-button"
                        class="btn btn-info btn-fill pull-right mt-4 mb-3">
                    Save
                </button>
            </form>
        </div>


        <div class="container-fluid p-3 border-content mt-5 mb-3" id="current-users-container">
            <div class="container-fluid border-content mt-5">
                <div class="row m-2">
                    <div class="col-sm-3 btn border-content search btn btn-secondary"
                         id="basic-search-change-container">
                        Basic Search
                    </div>
                    <div class="col-sm-3 btn border-content search btn btn-secondary"
                         id="advance-search-change-container">
                        Advanced Search
                    </div>
                </div>
                <div class="container-fluid  border-content  m-2 mb-3" id="basic-search-container">
                    <form id="basic-search-form" class="row" method="post" novalidate>
                        {{ basic_search_form.hidden_tag() }}
                        {{ basic_search_form.basic_page_number(class_="d-none") }}
                        <div class="col-md-5 mt-2 ml-4">
                            <div class="form-group form-inline row">
                                {{ basic_search_form.basic_search_name(placeholder="User first name or last name",class_="form-control mr-3 w-75") }}
                                <i class="fas fa-search" id="basic-search-button" aria-hidden="true"></i>
                            </div>
                            <small class="form-group row err-msg" id="basic_search_name_error"></small>
                        </div>
                        <div class="col-md-5 mt-2 ml-4">
                            <div class="form-group row">
                                {{ basic_search_form.basic_search_substring.label }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ basic_search_form.basic_search_substring }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container-fluid border-content m-2 mb-3 d-none" id="advanced-search-container">

                    <form id="advanced-search-form" class="row" method="post" novalidate>
                        {{ advanced_search_form.hidden_tag() }}
                        <div class="col-md mt-4">
                            {{ advanced_search_form.advanced_page_number(class_="d-none") }}
                            <div class="form-group row">
                                {{ advanced_search_form.advanced_user_first_name.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.advanced_user_first_name(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ advanced_search_form.advanced_user_last_name.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.advanced_user_last_name(class_="form-control") }}
                                </div>
                            </div>

                            <div class="form-group row">
                                {{ advanced_search_form.advanced_user_library_card_id.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.advanced_user_library_card_id(class_="form-control") }}
                                </div>
                            </div>
                            <div class="form-group row">
                                {{ advanced_search_form.advanced_user_email.label(class_="col-sm-6 col-form-label") }}
                                <div class="col-sm-6">
                                    {{ advanced_search_form.advanced_user_email(class_="form-control") }}
                                </div>
                            </div>
                            <small class="" id="advanced_user_first_name"></small>
                        </div>
                        <div class="col-md mt-4">
                            <div class="form-group row">
                                {{ advanced_search_form.search_substring.label(class_="col-8 col-form-label") }}
                                <div class="col-2 d-flex justify-content-center align-items-center">
                                    {{ advanced_search_form.search_substring }}
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="form-group row">
                        <div class="col-2">
                            <button class="btn btn-secondary" type="Submit" id="advanced-search-button">
                                Search
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div id="collapse-table-search-users" class="container-fluid">

                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                        <tr>
                            <th>No.</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th class="d-none d-md-block">Library card id</th>
                            <th class="d-none d-md-block">Type</th>
                            <th class="d-none d-lg-block">Email</th>
                        </tr>
                        </thead>
                        <tbody id="content-table-search-users">
                        </tbody>
                    </table>
                    <div class="border-content d-flex justify-content-center p-2" id="empty-results-search-users">No
                        results found !
                    </div>

                    <div>
                        <ul class="pagination d-flex justify-content-end" id="paginationBox-search-users">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modal_edit_user %}
    <div class="">
        <div class="modal fade" id="update-user-modal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="d-flex justify-content-end p-2">
                        <button type="button" id="close-update-user-modal" class="btn btn-secondary"
                                data-dismiss="modal">&times;
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <h4 class="modal-title mb-2">Update the user</h4>
                        <div class="container-fluid border-content">
                            <form id="update-user-form" class="mt-2" novalidate>
                                {{ update_user.hidden_tag() }}
                                {{ update_user.update_user_id(class_="d-none") }}
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_first_name.label }}
                                            {{ update_user.update_user_first_name(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_first_name_update_user_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_last_name.label }}
                                            {{ update_user.update_user_last_name(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_last_name_update_user_error"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_library_card_id.label }}
                                            {{ update_user.update_user_library_card_id(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_library_card_id_update_user_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_book_return_coeff.label }}
                                            {{ update_user.update_user_book_return_coeff(class_='form-control',disabled="true") }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_book_return_coeff_update_user_error"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_email.label }}
                                            {{ update_user.update_user_email(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_email_update_user_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_type.label }}
                                            {{ update_user.update_user_type(class_='form-control',disabled="true") }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_type_update_user_error"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_address.label }}
                                            {{ update_user.update_user_address(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_address_update_user_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_zip_code.label }}
                                            {{ update_user.update_user_zip_code(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_zip_code_update_user_error"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_city.label }}
                                            {{ update_user.update_user_city(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_city_update_user_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_user.update_user_country.label }}
                                            {{ update_user.update_user_country(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_user_country_update_user_error"></small>
                                    </div>
                                </div>
                            </form>
                            <button type="Submit" id="update-book-button" class="btn btn-secondary mt-2 mb-2"><i
                                    class="">Update</i>
                            </button>
                        </div>

                    </div>

                    <div class="modal-body">
                        <h4 class="modal-title mb-2">Delete the user</h4>
                        <div class="container-fluid border-content">
                            <div class="col mt-2 no-padding-row">
                                Are you sure you want to delete the user?
                            </div>
                            <div class="col mt-3 mb-2 no-padding-row">
                                <button id="delete-book-button" class="btn btn-secondary"><i
                                        class="">Yes</i>
                                </button>
                                <button type="Submit" class="btn btn-secondary" data-dismiss="modal"><i class="">No</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}