{% extends "layout.html" %}

{% block page_title %}Wishlist{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/wishlist.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/table.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/wishlist.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <h3>Wishlist</h3>

        <div id="collapse-table">
            <div class="col-lg-12">
                <table class="table table-bordered" style="border-collapse:collapse;">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Book name</th>
                        <th class="d-none d-md-block">Book type</th>
                        <th>Author name</th>
                        <th>Period</th>
                        <th class="d-none d-lg-block">Created At</th>
                    </tr>
                    </thead>
                    <tbody id="content-table">

                    {% for entry in wishlist %}
                        <tr colspan="7">
                            <td class="rank" id="nr-row-content-{{ entry[0] }}">
                                {{ entry[0] }}
                            </td>
                            <td id="book-name-row-content-{{ entry[0] }}">
                                {{ entry[1] }}
                            </td>
                            <td class="d-none d-md-block" id="book-type-row-content-{{ entry[0] }}">
                                {{ entry[2] }}
                            </td>
                            <td id="author-row-content-{{ entry[0] }}">
                                {{ entry[3] }}
                            </td>
                            <td id="period-row-content-{{ entry[0] }}">
                                {{ entry[4] }}
                            </td>
                            <td class="d-none d-lg-block" id="created-at-row-content-{{ entry[0] }}">
                                {{ entry[5] }}
                            </td>
                            <td class="last-td">
                                <button class="btn accordion-toggle d-lg-none" data-toggle="collapse"
                                        data-target="#tr-collapse-id-{{ entry[0] }}"
                                        aria-controls="aria-controls{{ entry[0] }}" id="{{ entry[0] }}" type="button">
                                    <i class="fas fa-expand-arrows-alt"></i>
                                </button>
                                <button class="btn" type="button">
                                    <i class="delete-from-wishlist fa fa-times red" id="/wishlist_delete_entry/{{ entry[6] }}"></i>
                                </button>
                            </td>
                        </tr>

                        <tr class="sub-table-row p collapse p-3 tr-collapse-{{ entry[0] }}"
                            id="tr-collapse-id-{{ entry[0] }}">
                            <td colspan="6" class="hiddenRow">
                                <div class="accordian-body">
                                    <p class="d-md-none">Book type: <span>{{ entry[2] }}</span>
                                    </p>
                                    <p class="d-lg-none">Created at: <span>{{ entry[5] }}</span>
                                    </p>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

            <div>
                <ul class="pagination" id="paginationBox">
                 <div class="hidden-content" id="nr_of_pages">{{ nr_of_pages }}</div>
                    <li class="page-item">
                        <button id="prev" class="btn btn-secondary page_num_link page-link">
                            <a href="{{ prev_url }}">&laquo;</a>
                        </button>
                    </li>
                    {% for nr in num_list %}
                        {% if nr %}
                            <li class="page-item">
                                <button id="{{ nr }}"
                                        class="btn btn-secondary page_num_link page-link">{{ nr }}</button>
                            </li>
                        {% else %}
                            <li class="page-item">...</li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item">
                        <button id="next" class="btn btn-secondary page_num_link page-link">
                            <a href="{{ next_url }}">&raquo;</a>
                        </button>
                    </li>
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
