{% extends "layout.html" %}

{% block page_title %}Wishlist{% endblock %}
{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="30"/>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/wishlist.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('.static', filename='css/table.css') }}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('.static', filename='js/wishlist.js') }}"></script>
    <script src="{{ url_for('.static', filename='js/sidebar_modal_settings.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="container-fluid p-3 border-content" id="content-wishlist">
            {% if next_book %}
                <h3 class="mt-5 mb-4">Accept the next book</h3>
                <div id="collapse-table">
                    <div class="container-fluid no-padding">
                        <table class="table table-bordered" style="border-collapse:collapse;">
                            <thead>
                            <tr>
                                <th>Book name</th>
                                <th class="d-none d-md-block">Book type</th>
                                <th class="d-none d-lg-block">Author first name</th>
                                <th class="d-none d-lg-block">Author last name</th>
                                <th>Period Start</th>
                                <th>Period End</th>
                            </tr>
                            </thead>
                            <tbody id="content-table">

                            <tr colspan="7">
                                <td class="hidden-content" id="next-book-id">
                                    {{ next_book[0] }}
                                </td>
                                <td id="book-name-next-book">
                                    {{ next_book[1] }}
                                </td>
                                <td class="d-none d-md-block" id="book-type-next-book">
                                    {{ next_book[2] }}
                                </td>
                                <td class="d-none d-lg-block" id="author-first-name-next-book">
                                    {{ next_book[3] }}
                                </td>
                                <td class="d-none d-lg-block" id="author-last-name-next-book">
                                    {{ next_book[4] }}
                                </td>
                                <td id="period-start-next-book">
                                    {{ next_book[5] }}
                                </td>
                                <td id="period-end-next-book">
                                    {{ next_book[6] }}
                                </td>

                                <td class="last-td-next-book">
                                    <button class="btn accordion-toggle  table-button  d-lg-none" data-toggle="collapse"
                                            data-target="#tr-collapse-next-book"
                                            aria-controls="aria-controls-next-book" id="next-book"
                                            type="button">
                                        <i class="fas fa-expand-arrows-alt"></i>
                                    </button>
                                    <button class="btn modal-button" id="open-next-book-modal" type="button">
                                        <i class="fas fa-external-link-alt"></i>
                                    </button>
                                    {#                                    <button class="btn table-button" type="button">#}
                                    {#                                        <i class="delete-from-wishlist fa fa-times red"#}
                                    {#                                           id="/wishlist_delete_entry/{{ entry[6] }}"></i>#}
                                    {#                                    </button>#}
                                </td>
                            </tr>

                            <tr class="sub-table-row p collapse p-3 tr-collapse-next-book"
                                id="tr-collapse-next-book">
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body">
                                        <p class="d-md-none">Book type: <span>{{ next_book[2] }}</span>
                                        </p>
                                        <p class="d-lg-none">Author first name: <span>{{ next_book[3] }}</span>
                                        </p>
                                        <p class="d-lg-none">Author last name: <span>{{ next_book[4] }}</span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
            <h3 class="mt-5 mb-4">Wishlist</h3>

            <div id="collapse-table">
                <div class="container-fluid no-padding">
                    <table class="table table-bordered" style="border-collapse:collapse;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Book name</th>
                            <th class="d-none d-md-block">Book type</th>
                            <th class="d-none d-md-block">Author first name</th>
                            <th class="d-none d-sm-table-cell">Author last name</th>
                            <th>Period</th>
                            <th class="d-none d-lg-block">Last updated</th>
                        </tr>
                        </thead>
                        <tbody id="content-table">

                        {% for entry in wishlist %}
                            <tr colspan="8">
                                <td class="hidden-content"
                                    id="entry-wishlist-id-nr-row-content-{{ entry[0] }}">{{ entry[7] }}</td>
                                <td class="rank" id="nr-row-content-{{ entry[0] }}">
                                    {{ entry[0] }}
                                </td>
                                <td id="book-name-row-content-{{ entry[0] }}">
                                    {{ entry[1] }}
                                </td>
                                <td class="d-none d-md-block" id="book-type-row-content-{{ entry[0] }}">
                                    {{ entry[2] }}
                                </td>
                                <td class="d-none d-md-block" id="author-first-name-row-content-{{ entry[0] }}">
                                    {{ entry[3] }}
                                </td>
                                <td class="d-none d-sm-block display-table-cell" id="author-last-name-row-content-{{ entry[0] }}">
                                    {{ entry[4] }}
                                </td>
                                <td id="period-row-content-{{ entry[0] }}">
                                    {{ entry[5] }}
                                </td>
                                <td class="d-none d-lg-block" id="created-at-row-content-{{ entry[0] }}">
                                    {{ entry[6] }}
                                </td>
                                <td class="last-td">
                                    <button class="btn accordion-toggle d-lg-none table-button no-padding-button" data-toggle="collapse"
                                            data-target="#tr-collapse-id-{{ entry[0] }}"
                                            aria-controls="aria-controls{{ entry[0] }}" id="{{ entry[0] }}"
                                            type="button">
                                        <i class="fas fa-expand-arrows-alt"></i>
                                    </button>
                                    <button type="button" class="btn edit-wishlist-book-button no-padding-button" id="{{ entry[0] }}">
                                        <i class="far fa-edit"></i>
                                    </button>
                                </td>
                            </tr>

                            <tr class="sub-table-row p collapse p-3 tr-collapse-{{ entry[0] }}"
                                id="tr-collapse-id-{{ entry[0] }}">
                                <td colspan="6" class="hiddenRow">
                                    <div class="accordian-body">
                                        <p class="d-md-none">Book type: <span>{{ entry[2] }}</span>
                                        </p>
                                        <p class="d-md-none">Author first name: <span>{{ entry[3] }}</span>
                                        </p>
                                        <p class="d-sm-none">Author last name: <span>{{ entry[4] }}</span>
                                        </p>
                                        <p class="d-lg-none">Last updated: <span>{{ entry[6] }}</span>
                                        </p>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    <div class="border-content d-flex justify-content-center p-2" id="empty-wishlist">
                        Your wishlist is empty !
                    </div>
                </div>

                <div>
                    <ul class="pagination pagination d-flex justify-content-end" id="paginationBox">
                        <div class="hidden-content" id="nr_of_pages">{{ nr_of_pages }}</div>
                        <li class="page-item">
                            <button id="prev" class="btn btn-secondary page_num_link page-link">
                                <a href="{{ prev_url }}">&laquo;</a>
                            </button>
                        </li>
                        {% for nr in num_list %}
                            {% if nr %}
                                <li class="page-item">
                                    <button id="{{ nr }}"
                                            class="btn btn-secondary page_num_link page-link">{{ nr }}</button>
                                </li>
                            {% else %}
                                <li class="page-item">...</li>
                            {% endif %}
                        {% endfor %}
                        <li class="page-item">
                            <button id="next" class="btn btn-secondary page_num_link page-link">
                                <a href="{{ next_url }}">&raquo;</a>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block modal_next_book %}
    <div class="">
        <div class="modal fade" id="next-book-modal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Do you accept the next book?</h4>
                        <button type="button" class="close" id="close-next-book-modal">&times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <div class="row mb-2 mt-3 ml-1 mr-1">
                                    <div class="col-sm-6 p-2">Book name :</div>
                                    <div class="col-sm-4 border-content p-2" id="modal-book-name"></div>
                                </div>

                                <div class="row mb-2 mt-3 ml-1 mr-1">
                                    <div class="col-sm-6 p-2">Book type :</div>
                                    <div class="col-sm-4 border-content p-2" id="modal-book-type"></div>
                                </div>
                                <div class="row mb-2 mt-3 ml-1 mr-1">
                                    <div class="col-sm-6 p-2">Author first name:</div>
                                    <div class="col-sm-4 border-content p-2" id="modal-book-author-first-name"></div>
                                </div>
                                <div class="row mb-2 mt-3 ml-1 mr-1">
                                    <div class="col-sm-6 p-2">Author last name:</div>
                                    <div class="col-sm-4 border-content p-2" id="modal-book-author-last-name"></div>
                                </div>
                                <div class="row mb-2 mt-3 ml-1 mr-1">
                                    <div class="col-sm-6 p-2">Period Start :</div>
                                    <div class="col-sm-4 border-content p-2" id="modal-book-period-start"></div>
                                </div>
                                <div class="row mb-2 mt-3 ml-1 mr-1">
                                    <div class="col-sm-6 p-2">Period End :</div>
                                    <div class="col-sm-4 border-content p-2" id="modal-book-period-end"></div>
                                </div>
                                <form class="hidden-content" id="accept-next-book-form" method="post" novalidate>
                                    {{ next_book_form.hidden_tag() }}
                                    {{ next_book_form.next_book_id }}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" id="next-book-save-button" class="btn btn-secondary"><i
                                class="">Save</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidebar_settings %}
    <div class="">
        <div class="modal fade" id="sidebar-modal-settings" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Wishlist settings</h4>
                        <button type="button" class="close" id="close-settings">&times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form id="sidebar-settings-form" class="container-fluid" method="post" novalidate>
                                {{ wishlist_settings.hidden_tag() }}
                                <div class="row mb-4">
                                    {{ wishlist_settings.setting_option.label }}
                                </div>
                                {% for option in wishlist_settings.setting_option %}
                                    <div class="row mb-2">
                                        <div class="col-9">
                                            {{ option.label }}
                                        </div>
                                        <div class="col">
                                            {{ option }}
                                        </div>

                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="Submit" id="sidebar-save-settings-button" class="btn btn-secondary"><i
                                class="">Save</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block wishlis_edit_book_modal %}
    <div class="">
        <div class="modal fade" id="update-wishlist-rank-modal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="d-flex justify-content-end p-2">
                        <button type="button" id="close-update-wishlist-rank-modal" class="btn btn-secondary"
                                data-dismiss="modal">&times;
                        </button>
                    </div>

                    <div class="modal-body">
                        <h4 class="modal-title mb-2">Update the book</h4>
                        <div class="container-fluid border-content">
                            <div class="row mt-2">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Book name :</div>
                                        <div class="form-control" id="book-name-update-rank"></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Book type:</div>
                                        <div class="form-control" id="book-type-update-rank"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Author first name :</div>
                                        <div class="form-control" id="author-first-name-update-rank"></div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="label-text pb-2">Author last name :</div>
                                        <div class="form-control" id="author-last-name-update-rank"></div>
                                    </div>
                                </div>
                            </div>
                            <form id="update-wishlist-rank-form" class="mt-2" novalidate>
                                {{ update_rank.hidden_tag() }}
                                {{ update_rank.update_wishlist_entry_id(class_="d-none") }}
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_rank.update_wishlist_rank.label }}
                                            {{ update_rank.update_wishlist_rank(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_wishlist_rank_update_rank_error"></small>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            {{ update_rank.update_wishlist_period.label }}
                                            {{ update_rank.update_wishlist_period(class_='form-control') }}
                                        </div>
                                        <small class="form-group row err-msg no-margin-row"
                                               id="update_wishlist_period_update_rank_error"></small>
                                    </div>
                                </div>
                            </form>
                            <button type="Submit" id="update-wishlist-rank-button" class="btn btn-secondary mt-2 mb-2">
                                <i
                                        class="">Update</i>
                            </button>
                        </div>

                    </div>

                    <div class="modal-body">
                        <h4 class="modal-title mb-2">Delete the wishlist book</h4>
                        <div class="container-fluid border-content">
                            <div class="col mt-2 no-padding-row">
                                Are you sure you want to remove the book?
                            </div>
                            <div class="col mt-3 mb-2 no-padding-row">
                                <button id="delete-wishlist-book-button" class="btn btn-secondary"><i
                                        class="">Yes</i>
                                </button>
                                <button type="Submit" class="btn btn-secondary" data-dismiss="modal"><i class="">No</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}